export(geomerge)
export(geomerge.merge)
export(geomerge.neighbor)
export(geomerge.assign)
export(generateGrid)
S3method(print,geomerge)
S3method(summary,geomerge)
S3method(plot,geomerge)
importFrom("inlmisc", "Grid2Polygons")
importFrom("spdep", "poly2nb", "lag.listw", "nb2listw", "nblag")
importFrom("geosphere", "areaPolygon")
importFrom("raster", "intersect", "projectRaster", "extent", "crop", "mask", "extract", aggregate)
importFrom("sp", "CRS", "proj4string", "spTransform", "over", "is.projected", "bbox", "GridTopology", "SpatialGridDataFrame")
importFrom("methods", "slot")
importFrom("stats", "setNames")
importFrom("ggplot2", "theme", "element_blank", "ggplot", "geom_polygon", "aes", "geom_map", "aes_string", "expand_limits", "scale_fill_gradient2", "ggtitle", "fortify")
importFrom("gridExtra", "grid.arrange")
importFrom("scales", "muted")
import("lubridate")
